$('#provider_select').html("<%= escape_javascript(options_from_collection_for_select(@providers), include_blank: "Select A Provider", 'data-live-search' => true, class: "selectpicker form-control") %>");
